@import "tailwindcss";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --default-font-family: var(--font-sans);
  --default-mono-font-family: var(--font-mono);
  --font-georgia: Georgia;

  --color-primary-1: #606c38;
  --color-primary-2: #123524;
  --color-neutral: #fefae0;
  --color-accent-1: #dda15e;
  --color-accent-2: #bd8a27;

  --header: calc(var(--spacing) * 20);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

details > summary {
  list-style: none;
}

@utility scrollbar-hidden {
  -ms-overflow-style: none; /* IE and legacy Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
